*{
    background-color: rgb(73, 104, 73);
    color: cornflowerblue;
}
.head {
    background-color: rgb(53, 131, 179);

}
.h1 {
    background: rgb(145, 155, 226);
    position: none;
    margin: 20px;
    padding: 30px;
}
div > h2{
    background: rgb(150, 155, 226);
    position: center;
    margin: 20px;
    padding: 30px;
}
/*.h2 {
    background: rgb(150, 155, 226);
    position: none;
    margin: 20px;
    padding: 30px;
}
div > h3{
background: rgb(54, 23, 145);
    position: left;
    margin: 20px;
    padding: 30px;

}
/*.h3 {
    background: rgb(54, 122, 226);
    position: none;
    margin: 20px;
    padding: 30px;
}
.html {
    background: rgb(60, 38, 160);
}
